
*.pdf
*.pptx
*.mp4
*.py
AI/과제/AI_Assignment_1.md
SystemSecurity/pdf/중간고사.hwp
SystemSecurity/SS_중간기출풀이.md
SystemSecurity/files/기말고사.hwp
SystemSecurity/files/중간고사.hwp
*.ppt
SystemSecurity/가상대학업로드/kerberos.jpg
*.png
SystemSecurity/SS_Proj2.md
ComputerVision/hw1
AI/assignment2.md
AI/라코.md
DataScience/DS_기말예상.md
ComputerVision/NN_20190655(곽혜정).zip
SoftwareArchitecture/기말범위정리_1(27-34).md
SoftwareArchitecture/기말범위정리_2(35-40).md
SoftwareArchitecture/기말범위정리_3(44-49).md
SoftwareArchitecture/중간_아키텍처_스타일(10-26).md
SoftwareArchitecture/아키텍처 스타일 정리.md
SoftwareArchitecture/출제예상문제.md
*.hwp
