
*.pdf
*.pptx
*.mp4
*.py
AI/과제/AI_Assignment_1.md
SystemSecurity/pdf/중간고사.hwp
SystemSecurity/SS_중간기출풀이.md
SystemSecurity/files/기말고사.hwp
SystemSecurity/files/중간고사.hwp
*.ppt
SystemSecurity/가상대학업로드/kerberos.jpg
*.png
SystemSecurity/SS_Proj2.md
ComputerVision/hw1
AI/assignment2.md
